/* Estilos para el contenedor de las imágenes */
body .drone-images-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
    gap: 10px;
}

  /* Estilos para cada columna de imagen */
body .drone-image-column {
    width: 30%;
     display: flex; /* Hacemos columna flexible para centrar la imagen en caso de que tenga otra altura */
     justify-content: center; /* Centramos la imagen horizontalmente */
}

/* Estilos para las imágenes */
body .drone-image-column img {
  max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  object-fit: cover; /* Evita la distorcion */
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  body .drone-images-container {
    flex-direction: column;
  }
  body .drone-image-column {
       width: 100%;
       display: flex;
         justify-content: center;

  }
  body .drone-image-column img{
      width: 80%;
       max-width: none;
    }
}
