/* Archivo: css/style.css */

/* Colores principales */
:root {
    --primary-color: #003366; /* Azul oscuro */
    --secondary-color: #0066cc; /* Azul claro */
    --background-color: #f4f4f4; /* Fondo claro */
    --text-color: #333333; /* Texto oscuro */
    --link-color: #0066cc; /* Enlaces */
    --link-hover-color: #004499; /* Enlaces al pasar el mouse */
    --header-color: #003366; /* Color de fondo y texto del header (UNIFICADO) */
    --button-background-color: #0066cc; /* Fondo de los botones */
    --button-hover-background-color: #004499; /* Fondo de los botones al pasar el mouse */
    --details-background-color: #e0e0e0; /* Fondo de los detalles */
    --details-border-color: #cccccc; /* Borde de los detalles */
}

/* Body */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif; /* Asegura una fuente legible */
    line-height: 1.6;
}

/* Header */
header {
    background-color: var(--header-color);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    /* max-width: 600px; Eliminado, usa el contenedor de Bootstrap */
    /* margin: 0 auto 2rem;  Eliminado, usa las clases de Bootstrap */
}

header p {
    margin: 0.3rem 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content img {
    width: 80%; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%; /* Para que la imagen sea circular */
    margin-bottom: 1rem; /* Añadido margen inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sutil sombra */
    border: 3px solid white; /* Borde blanco */
}

.header-contact {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.header-contact a {
    color: var(--header-color); /* Usa la variable */
}

.header-contact a:hover {
    text-decoration: underline;
}

/* Estilo del botón de WhatsApp */
.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25d366;
    color: white;
    padding: 1px 2px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1ebc53;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 0px;
}

/* Headings */
h2, h3, h4, p, ul, ol {
    text-align: left; /* Alinear a la izquierda */
    margin-top: 1.5rem; /* Ajusta el espacio superior */
}

/* Estilo de los encabezados (USANDO CALC Y REM) */
h2 {
    color: var(--primary-color); /* Color del texto */
    padding: 0; /* Eliminar padding */
    border-radius: 0; /* Eliminar bordes redondeados */
    font-size: calc(1.5rem + 3vw); /* Ajusta el tamaño con calc() */
    font-weight: 700;
    margin-bottom: 1.2rem;
}

h3 {
    color: var(--primary-color); /* Color del texto */
    padding: 0; /* Eliminar padding */
    border-radius: 0; /* Eliminar bordes redondeados */
    font-size: calc(1.2rem + 1.5vw); /* Ajusta el tamaño con calc() */
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    color: var(--primary-color); /* Color del texto */
    padding: 0; /* Eliminar padding */
    border-radius: 0; /* Eliminar bordes redondeados */
    font-size: calc(1rem + 1vw); /* Ajusta el tamaño con calc() */
    font-weight: 600;
    margin-bottom: 0.8rem;
}

/* Estilo de la imagen del logo */
header img {
    border-radius: 50%;
    max-width: 150px;
    margin: 10px auto;
    display: block;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Estilo de los botones */
button, .button {
    background-color: var(--button-background-color);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover, .button:hover {
    background-color: var(--button-hover-background-color);
    transform: translateY(-2px); /* Sutil efecto al pasar el mouse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sutil sombra al pasar el mouse */
}

/* Estilo de los detalles */
details {
    background-color: var(--details-background-color);
    border: 1px solid var(--details-border-color);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

summary {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

/* Paragraphs and Text */
p {
    font-size: calc(0.9rem + 0.2vw); /* Ajusta el tamaño con calc() */
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

/* Lists */
ul, ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Specific elements */
h2 {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 0 !important;
}

/* Portfolio Section (Animación, etc.) */
.portfolio-section {
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(1.25rem);
}

main > section > div {
  padding: 0 1em;
}

.portfolio-section.revealed {
    opacity: 1;
    transform: translateY(0);
}

main > section {
    margin-bottom: 3.5rem;
    padding: 1.5rem;
    background-color: white; /* Añade un fondo blanco a las secciones */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    position: relative; /* Para posicionamiento relativo */
    overflow: hidden; /* Asegura que las secciones se vean correctamente */
}

/* viewport-overlay: Ya no es necesario si no lo usas */

/* Estilos generales que se aplican a todos los tamaños de pantalla */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Usa las clases de Bootstrap para el contenedor y el texto centrado */
/* .container {
    max-width: 960px;  Ajusta el ancho máximo según sea necesario
    margin: 0 auto;
    padding: 1rem;
} */

/*Media query para dispositivos extra pequeños (móviles)*/
@media (max-width: 576px) {
    body {
        background-color: #e0e0e0;
    }

    header {
        padding: 0.5rem;
    }

    h2 {
        font-size: calc(1.2rem + 4vw); /* Tamaños ajustados */
    }

    h3 {
        font-size: calc(1rem + 2vw); /* Tamaños ajustados */
    }

    button,
    .button {
        padding: 8px 15px;
    }

    a {
        font-size: 0.9rem;
    }
}

/* Media query para dispositivos pequeños (teléfonos horizontales y dispositivos más grandes) */
@media (min-width: 576px) {
    header {
        padding: 1rem;
    }

    h2 {
        font-size: calc(1.3rem + 3vw); /* Tamaños ajustados */
    }

    h3 {
        font-size: calc(1.1rem + 1.8vw); /* Tamaños ajustados */
    }

    button,
    .button {
        padding: 10px 20px;
    }

    a {
        font-size: 1rem;
    }
}

/* Media query para dispositivos medianos (tabletas) */
@media (min-width: 768px) {
    header {
        padding: 1.5rem;
    }

    h2 {
        font-size: calc(1.4rem + 2.5vw); /* Tamaños ajustados */
    }

    h3 {
        font-size: calc(1.2rem + 1.5vw); /* Tamaños ajustados */
    }

    button,
    .button {
        padding: 10px 20px;
    }

    a {
        font-size: 1rem;
    }
}

/*Media query para dispositivos grandes (ordenadores de sobremesa y dispositivos más grandes)*/
@media (min-width: 992px) {
    body {
        background-color: #f4f4f4;
    }

    header {
        padding: 2rem;
    }

    h2 {
        font-size: calc(1.6rem + 2vw); /* Tamaños ajustados */
    }

    h3 {
        font-size: calc(1.3rem + 1vw); /* Tamaños ajustados */
    }

    button,
    .button {
        padding: 12px 25px;
    }

    a {
        font-size: 1rem;
    }
}
